Repository neo4j/neo4j-ogm, pull requests merged in 2020-02, with the labels that each got.

#760 GH-759 - Make index parsing more resilient.
  .github/workflows/maven.yml
  .travis.yml
  core/src/main/java/org/neo4j/ogm/autoindex/AutoIndex.java
  core/src/test/java/org/neo4j/ogm/autoindex/AutoIndexTest.java
  neo4j-ogm-tests/neo4j-ogm-integration-tests/src/test/java/org/neo4j/ogm/autoindex/BaseAutoIndexManagerTestClass.java
  neo4j-ogm-tests/neo4j-ogm-integration-tests/src/test/java/org/neo4j/ogm/autoindex/NodeKeyConstraintIndexAutoIndexManagerTest.java
  neo4j-ogm-tests/neo4j-ogm-integration-tests/src/test/java/org/neo4j/ogm/autoindex/SingleIndexAutoIndexManagerTest.java
  neo4j-ogm-tests/neo4j-ogm-integration-tests/src/test/java/org/neo4j/ogm/autoindex/UniqueConstraintAutoIndexManagerTest.java
Labels: bug

#761 Select correct string converter.
  core/src/main/java/org/neo4j/ogm/metadata/ObjectAnnotations.java
  core/src/main/java/org/neo4j/ogm/typeconversion/InstantStringConverter.java
  neo4j-ogm-tests/neo4j-ogm-integration-tests/src/test/java/org/neo4j/ogm/domain/convertible/date/Memo.java
  neo4j-ogm-tests/neo4j-ogm-integration-tests/src/test/java/org/neo4j/ogm/persistence/types/convertible/ConvertibleIntegrationTest.java
Labels: bug

#764 Fix compilation error on Windows
  neo4j-ogm-tests/neo4j-ogm-integration-tests/src/test/kotlin/org/neo4j/ogm/kotlin/KotlinMetaDataTest.kt
Labels: improvement, kotlin

#765 Fix Session.load/queryForObject nullability
  core/src/main/kotlin/org/neo4j/ogm/session/SessionExtensions.kt
  core/src/main/kotlin/org/neo4j/ogm/session/SessionFactoryExtensions.kt
  core/src/test/kotlin/org/neo4j/ogm/session/SessionExtensionsTest.kt
  core/src/test/kotlin/org/neo4j/ogm/session/SessionFactoryExtensionsTest.kt
  neo4j-ogm-tests/neo4j-ogm-integration-tests/src/test/kotlin/org/neo4j/ogm/kotlin/KotlinInteropTest.kt
Labels: bug, kotlin
